certifi==2019.11.28
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.18.1
olefile==0.46
Pillow==7.0.0
PyAutoGUI==0.9.48
PyMsgBox==1.0.7
PyScreeze==0.1.26
PyTweening==1.0.3
six==1.14.0
wincertstore==0.2
